.ml-8 {
  margin-left: 2rem
}

.ml-6 {
  margin-left: 1.5rem
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.font-bold {
  font-weight: 700
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
